<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simo.gallery.mapper.BizForumPostMapper">
    
    <resultMap type="BizForumPost" id="BizForumPostResult">
        <result property="postId"    column="post_id"    />
        <result property="userId"    column="user_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="sharePhotoId"    column="share_photo_id"    />
        <result property="viewCount"    column="view_count"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizForumPostVo">
        select post_id, user_id, title, content, share_photo_id, view_count, del_flag, create_by, create_time, update_by, update_time from biz_forum_post
    </sql>

    <select id="selectBizForumPostList" parameterType="BizForumPost" resultMap="BizForumPostResult">
        <include refid="selectBizForumPostVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="sharePhotoId != null "> and share_photo_id = #{sharePhotoId}</if>
            <if test="viewCount != null "> and view_count = #{viewCount}</if>
        </where>
    </select>
    
    <select id="selectBizForumPostByPostId" parameterType="Long" resultMap="BizForumPostResult">
        <include refid="selectBizForumPostVo"/>
        where post_id = #{postId}
    </select>

    <insert id="insertBizForumPost" parameterType="BizForumPost" useGeneratedKeys="true" keyProperty="postId">
        insert into biz_forum_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="sharePhotoId != null">share_photo_id,</if>
            <if test="viewCount != null">view_count,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="sharePhotoId != null">#{sharePhotoId},</if>
            <if test="viewCount != null">#{viewCount},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizForumPost" parameterType="BizForumPost">
        update biz_forum_post
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="sharePhotoId != null">share_photo_id = #{sharePhotoId},</if>
            <if test="viewCount != null">view_count = #{viewCount},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where post_id = #{postId}
    </update>

    <delete id="deleteBizForumPostByPostId" parameterType="Long">
        delete from biz_forum_post where post_id = #{postId}
    </delete>

    <delete id="deleteBizForumPostByPostIds" parameterType="String">
        delete from biz_forum_post where post_id in 
        <foreach item="postId" collection="array" open="(" separator="," close=")">
            #{postId}
        </foreach>
    </delete>
</mapper>