<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simo.gallery.mapper.BizPhotoMapper">
    
    <resultMap type="BizPhoto" id="BizPhotoResult">
        <result property="photoId"    column="photo_id"    />
        <result property="userId"    column="user_id"    />
        <result property="title"    column="title"    />
        <result property="description"    column="description"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="permissionLevel"    column="permission_level"    />
        <result property="aiStatus"    column="ai_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBizPhotoVo">
        select photo_id, user_id, title, description, file_path, file_type, file_size, permission_level, ai_status, del_flag, create_by, create_time, update_by, update_time, remark from biz_photo
    </sql>

    <select id="selectBizPhotoList" parameterType="BizPhoto" resultMap="BizPhotoResult">
        <include refid="selectBizPhotoVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="permissionLevel != null  and permissionLevel != ''"> and permission_level = #{permissionLevel}</if>
            <if test="aiStatus != null  and aiStatus != ''"> and ai_status = #{aiStatus}</if>
        </where>
    </select>
    
    <select id="selectBizPhotoByPhotoId" parameterType="Long" resultMap="BizPhotoResult">
        <include refid="selectBizPhotoVo"/>
        where photo_id = #{photoId}
    </select>

    <insert id="insertBizPhoto" parameterType="BizPhoto" useGeneratedKeys="true" keyProperty="photoId">
        insert into biz_photo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="title != null">title,</if>
            <if test="description != null">description,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="fileType != null and fileType != ''">file_type,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="permissionLevel != null">permission_level,</if>
            <if test="aiStatus != null">ai_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="fileType != null and fileType != ''">#{fileType},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="permissionLevel != null">#{permissionLevel},</if>
            <if test="aiStatus != null">#{aiStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizPhoto" parameterType="BizPhoto">
        update biz_photo
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="fileType != null and fileType != ''">file_type = #{fileType},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="permissionLevel != null">permission_level = #{permissionLevel},</if>
            <if test="aiStatus != null">ai_status = #{aiStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where photo_id = #{photoId}
    </update>

    <delete id="deleteBizPhotoByPhotoId" parameterType="Long">
        delete from biz_photo where photo_id = #{photoId}
    </delete>

    <delete id="deleteBizPhotoByPhotoIds" parameterType="String">
        delete from biz_photo where photo_id in 
        <foreach item="photoId" collection="array" open="(" separator="," close=")">
            #{photoId}
        </foreach>
    </delete>
</mapper>